version : '3.3'

services:
  
  mongo:
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: codigo
      MONGO_INITDB_ROOT_PASSWORD: codigo2023
    ports:
      - "27027:27017"

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: codigo
      ME_CONFIG_MONGODB_URL: mongodb://codigo:codigo2023@mongo:27017/

  web:
    build: .
    image: img-api-shop-g19:1.1
    env_file:
      - ./.env
    ports:
      - "5000:5000"


  nginx:
    container_name: api.proxy
    build: ./nginx
    volumes:
      - ./src/static:/usr/src/static
      - media_volume:/usr/src/media
    ports:
      - "80:80"
    depends_on:
      - web
      
volumes:
  static_volume:
  media_volume: