version : '3'

services:
  
  mongo:
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: codigo
    ports:
      - "27017:27017"
    networks:
      local_network:
        ipv4_address: 172.28.1.3

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: codigo
      ME_CONFIG_MONGODB_URL: mongodb://root:codigo@172.28.1.3:27017/
    networks:
      local_network:
        ipv4_address: 172.28.1.4

  web:
    build: .
    image: img-api-shop-g19:1.1
    environment:
      MONGOURI : mongodb://root:codigo@172.28.1.3:27017/db_shop_g19
    ports:
      - "5000:5000"
    networks:
      local_network:
        ipv4_address: 172.28.1.5

networks:
  local_network:
    ipam:
      driver: default
      config:
        - subnet: 172.28.0.0/16